// colors
$primaryColor: #1565c0; // Primary Color
$primaryColorLight: #5e92f3; // Light
$primaryColorDark: #003c8f; // Dark
$secondaryColor: #ffee58; // Secondary Color
$secondaryColorLight: #ffff8b; // Light
$secondaryColorDark: #c9bc1f; // Dark
$grayColor: #f5f5f6; // Gray

html, body {
  min-height: 100%;
  background: $grayColor;
  font-family: 'Helvetica Neue', 'Segoe UI', 'Microsoft Yahei', sans-serif;
}
* {
  box-sizing: border-box;
}

// Basic Setup

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  &.c-wp { // without padding
    padding: 0;
  }
  @media screen and (min-width: 992px) {
    width: 975px;
  }
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

// Webfont

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  //font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// Main components

#root {
  header.g {
    background: $primaryColor;
    color: #fff;
    height: 300px;
    .logo {
      width: 105px;
      height: 30px;
      background: url(../img/Hybond.svg) rgba(0, 0, 0, 0) no-repeat;
      background-size: 105px 30px;
      display: inline-block;
    }
    .top-row {
      padding-top: 20px;
      padding-bottom: 10px;
      .top-add {
        color: #fff;
        line-height: 30px;
        font-size: 120%;
        text-decoration: none;
        margin-right: 1em;
        background: rgba(0, 0, 0, .1);
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        opacity: .7;
        transition: all .3s;
        &:hover {
          opacity: 1;
        }
      }
      .user-info {
        display: inline-block;
        line-height: 30px;
      }
    }
  }
  main {
    margin-top: -150px;
    background: #fff;
    padding: 30px 0;
    padding-bottom: 50px;
    min-height: 400px;
    border-radius: 2px;
    box-shadow: 0 3px 2px rgba(#000, .1);
    @media screen and (max-width: 768px) {
      border-radius: 0;
      box-shadow: none;
    }
    .container {
      padding: 0 45px;
    }
    // Basic elements
    h1.big {
      font-size: 3em;
      text-align: center;
      font-weight: bold;
    }
    h1 {
      font-size: 2.6em;
    }
    // Other elements
    .proj-description {
      text-align: center;
      margin-top: -1.3em;
      margin-bottom: 2.8em;
      font-weight: bold;
      a {
        font-weight: normal;
        text-decoration: none;
        color: $primaryColor;
        &:hover {
          border-bottom: 2px solid $primaryColor;
        }
      }
    }
  }
  footer.g {
    padding: 30px 15px;
    padding-bottom: 60px;
    line-height: 1.5;
    font-size: 14px;
    color: #888;
    a {
      text-decoration: none;
      color: #333;
    }
    .footer-links {
      a {
        @media screen and (min-width: 768px) {
          margin: 0 .5em;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

// Flow chart

$chartColor: #232c38;

.flow-chart {
  height: 270px;
  width: 100%;
  background: $chartColor;
  color: #fff;
  overflow: auto;
  margin-bottom: 40px;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 40px;
    background: url(../img/dots.svg) $primaryColor;
    background-size: 9px 4px;
  }
  section {
    width: auto;
    padding: 0 70px;
    padding-top: 120px;
    height: 100%;
    display: inline-block;
    column-width:160px;
    column-gap: 10px;
    button {
      text-align: left;
      width: 160px;
      background: rgba(0, 0, 0, .15);
      margin-bottom: 10px;
      border: none;
      padding: 10px 0;
      padding-left: 40px;
      padding-right: 15px;
      outline: none;
      position: relative;
      border: 1px solid rgba($primaryColorLight, .3);
      transition: border .3s;
      &:hover {
        border-color: rgba($primaryColorLight, .6);
      }
      .flow-chart-color {
        position: absolute;
        left: 15px;
        top: 21px;
        margin-top: -5.5px;
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-right: 8px;
        border-radius: 100%;
      }
    }
    .flow-chart-title {
      .flow-chart-dot {
        display: block;
        position: absolute;
        left: 50%;
        top: -25px;
        margin-left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: $primaryColor;
        box-shadow: 0 0 0 5px rgba(245, 245, 246, 0.12);
      }
      font-size: 1.2em;
      font-weight: lighter;
      position: absolute;
      top: 61px;
      left: 70px;
      height: 35px;
      line-height: 30px;
      padding: 0 .7em;
    }
  }
}

// Flow chart End.

// Introduction

.introduction {
  .part-name {
    font-size: 1.7em;
  }
  .proj-name {
    font-weight: bold;
    margin-top: .3em;
    margin-bottom: 0;
  }
  .description {
    margin-top: 0;
    font-size: 120%;
    color: #7e7e7e;
    margin-bottom: 1.5em;
  }
  .introduction-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
  }
  a {
    text-decoration: none;
    color: $primaryColor;
    &:hover {
      border-bottom: 2px solid $primaryColor;
    }
  }
  code {
    border: 1px solid #efefef;
    background: #fafafa;
    padding: 2.5em 1.7em 1em;
    font-size: 13px;
    position: relative;
    border-radius: 2px;
    &::after {
      content: 'code';
      position: absolute;
      left: 1.7em;
      top: .5em;
      color: #858585;
      font-size: 80%;
    }
  }
  .details {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 35%;
    }
    float: left;
    h2 {
      padding-top: .2em;
      padding-bottom: .3em;
    }
    ul {
      margin: 0;
      padding: 0;
      display: table;
      line-height: 2;
      li {
        list-style: none;
        display: table-row;
        &.devide {
          label {
            padding-bottom: .5em;
          }
        }
        label {
          display: table-cell;
          padding-right: 15px;
          color: #7e7e7e;
        }
        span {
          display: table-cell;
          a {
            text-decoration: none;
            color: $primaryColor;
            &:hover {
              border-bottom: 2px solid $primaryColor;
            }
          }
        }
        .details-tooltip-pin {
          position: relative;
        }
        &:hover {
          .details-tooltip {
            visibility: visible;
            opacity: 1;
          }
        }
        .details-tooltip {
          z-index: 10;
          width: 330px;
          height: 40px;
          visibility: hidden;
          opacity: 0;
          transition: opacity .3s .3s;
          position: absolute;
          left: 100%;
          padding-left: 10px;
          top: -4px;
          background: #fff;
          overflow: hidden;
          input {
            width: 320px;
            height: 40px;
            padding: 0 10px;
            outline: none;
            border: 1px solid #dfdfdf;
            display: inline-block;
            background: #fff;
            border-radius: 2px;
            &::selection, &-moz-::selection {
              background: rgba(#000, .05);
            }
          }
          button {
            position: absolute;
            z-index: 4;
            top: 0;
            right: 0;
            width: 95px;
            padding-left: 15px;
            height: 40px; // to fix the 1px bug
            border: 1px solid #dfdfdf;
            border-left: none;
            background: #fff;
            background: linear-gradient(left , rgba(#fff, .0) , #fff 16%);
            background: -webkit-linear-gradient(left , rgba(#fff, .0) , #fff 16%);
            background: -moz-linear-gradient(left , rgba(#fff, .0) , #fff 16%);
            color: $primaryColor;
            display: inline-block;
            outline: none;
            border-radius: 0 2px 2px 0;
          }
          .link-return {
            position: absolute;
            right: 0;
            top: 0;
            width: 320px;
            height: 40px;
            z-index: 10;
            background: rgba(#fff, .9);
            visibility: hidden;
            text-align: center;
            line-height: 40px;
            border-radius: 2px;
            @keyframes inAndOutFade{
              0% {opacity:0;
              visibility: hidden;}
              20% {opacity:1;
              visibility: visible;}
              80% {opacity:1;
              visibility: visible;}
              100% {opacity:0;
              visibility: hidden;}
            }
            &.details-tooltip-success {
              $color: #43a047;
              color: $color;
              border: 1px solid $color;
              animation:inAndOutFade 2s .2s ease both;
            }
            &.details-tooltip-error {
              $color: #d93737;
              color: $color;
              border: 1px solid $color;
              animation:inAndOutFade 2s .2s ease both;
            }
          }
        }
      }
    }
  }
  .install {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 65%;
    }
    float: right;
    h2 {
      padding-top: .2em;
      padding-bottom: .3em;
    }
  }
  .docs {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 35%;
      padding-top: .4em;
    }
    float: left;
    h2 {
      padding-top: .2em;
      padding-bottom: .3em;
    }
    ul {
      padding: 0;
      margin: 0;
      @media screen and (max-width: 768px) {
        column-width: 300px;
      }
      li {
        list-style: none;
        line-height: 1.8;
        padding-bottom: .2em;
      }
    }
  }
}

// Manage

.manage {
  background: #eee;
  min-height: 200px;
  margin-bottom: -50px;
  padding: 30px 45px !important;
  @media screen and (max-width: 768px) {
    &.container {
      padding: 0 !important;
    }
  }
  a {
    text-decoration: none;
    color: $primaryColor;
    border-bottom: 2px solid rgba(#000, 0);
    &:hover {
      border-bottom-color: $primaryColor;
    }
  }
  .manage-list {
    padding: 0;
    margin-bottom: 2.5em;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    box-shadow: 0 3px 2px rgba(#000, .1);
    border-radius: 2px;
    li {
      display: block;
      list-style: none;
      background: #fff;
      margin-bottom: 0;
      padding: 1em 1.5em;
      border-bottom: 1px solid #ddd;
      position: relative;
      @media screen and (max-width: 768px) {
        margin: 0;
        border: none;
        border-bottom: 1px solid #dddddd;
        border-radius: 0;
        box-shadow: 0;
        &:first-child {
          border-top: 1px solid #dddddd;
        }
      }
      &:first-child {
        border-radius: 2px 2px 0 0;
      }
      &:last-child {
        border-radius: 0 0 2px 2px;
        margin-bottom: 0;
        border-bottom: none;
      }
      a {
        display: inline-block;
        font-size: 120%;
      }
      .description {
        display: block;
      }
      .manage-list-left {
        float: left;
        @media screen and (min-width: 768px) {
          max-width: 722px;
        }
      }
      .manage-list-right {
        float: right;
        @media screen and (max-width: 768px) {
          display: none;
        }
        button {
          border: none;
          outline: none;
          height: 50px;
          background: none;
          display: -webkit-flex;
          display: -ms-flex;
          display: inline-flex;
          font-size: 24px;
          margin-left: 20px;
          opacity: .5;
          transition: all .3s;
          &:hover {
            opacity: .85;
          }
        }
      }
    }
  }
  .manage-page {
    text-align: center;
    list-style: none;
    background: $primaryColor;
    padding: 1em 1.5em;
    color: #fff;
    font-size: 21px;
    border-radius: 2px;
    box-shadow: 0 3px 2px rgba(#000, .1);
    > div {
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
    .manage-page-num {
      i {
        opacity: .5;
      }
    }
    .manage-page-btn {
      border: none;
      background: none;
      padding: 0;
      line-height: 1;
      padding: 0 .5em;
      opacity: .5;
      transition: all .3s;
      outline: none;
      &:hover {
        opacity: 1;
      }
      &:first-child {
        margin-right: .5em;
      }
      &:last-child {
        margin-left: .5em;
      }
    }
  }
  .manage-alert {
    $red: #c62828;
    width: 430px;
    visibility: hidden;
    margin-top: 1em;
    padding: .5em 2em;
    padding-bottom: 2em;
    position: absolute;
    right: 0;
    top: 50px;
    background: $red;
    color: #fff;
    box-shadow: 0 3px 3px rgba(#000, .3);
    transform-origin: 390px 0px 0px;
    opacity:0;
    transform: scale(.7);
    z-index: 10;
    transition: all .3s;
    border-radius: 2px;
    &.show {
      visibility: visible;
      opacity:1;
      transform: scale(1);
    }
    header {
      button {
        line-height: 1;
        border: none;
        background: none;
        font-size: 22px;
        position: absolute;
        right: 30px;
        top: 24px;
        outline: none;
        padding: 0;
      }
    }
    h3 {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      line-height: 1;
      i {
        margin-right: .5em;
      }
    }
    .description {
      line-height: 1.5;
      font-size: 80%;
      color: #f4d4d4;
      margin-top: 2em;
      span {
        color: #fff;
      }
    }
    .proj-name {
      &:first-child {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .manage-alert-input {
      position: relative;
      background: none;
      margin-bottom: 20px;
      .manage-alert-alt {
        position: absolute;
        left: 0;
        top: 23px;
        font-size: 20.8px;
        color: #fff;
        opacity: .3;
        z-index: -1;
        transition: all cubic-bezier(.25,.8,.25,1) .4s;
      }
    }
    input:focus + .manage-alert-alt, input.have-content + .manage-alert-alt {
      top: 5px;
      font-size: 10px;
      color: #fff;
      opacity: .8;
    }
    input {
      font-size: 130%;
      padding: .25em 0;
      background: none;
      border: none;
      border-bottom: 1px solid #fff;
      margin-top: 20px;
      margin-bottom: 2px;
      outline: none;
      transition: border-bottom-width .3s, margin-bottom .3s;
      &:focus {
        border-bottom-width: 3px;
        margin-bottom: 0;
      }
    }
    > button {
      outline: none;
      background: none;
      border: none;
      float: right;
      padding: .5em 1.4em;
      margin-left: 5px;
      transition: background .3s;
      &:hover {
        background: rgba(#fff, .1);
      }
      &.manage-alert-delete {
      }
    }
  }
}
